
<nav *ngIf="isLoggedIn()" class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Vacuum service</a>
    <form class="form-inline">
      <button class="btn btn-primary my-2 my-sm-0" (click)="logOut()">Log out</button>
    </form>
</nav>
<nav *ngIf="isLoggedIn()"> 
    <ul ngbNav  class="nav-tabs bg-dark border-bottom border-body bg-body-tertiary bg-body-tertiary" data-bs-theme="dark">
        <li>
            <div class="container-fluid">
                <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </div>
        </li>
        <li ngbNavItem="vacuums-page">
            <a ngbNavLink routerLink="/vacuum-page" routerLinkActive="active">Vacuums</a>
        </li>
        <li ngbNavItem="add-vacuums" *ngIf="canAddVacuums()">
            <a ngbNavLink routerLink="/add-vacuum" routerLinkActive="active">Add vacuums</a>
        </li>
        <li ngbNavItem="error-page">
            <a ngbNavLink routerLink="/error-page" routerLinkActive="active">Errors</a>
        </li>
      </ul>
</nav>

<router-outlet />
